<div class="mb-3 card card-body">
  <h5><%= sauce.title %> <span class="badge bg-primary">qty:<%= sauce.qty %></span></h5>
  <div class="d-grid gap-2 d-md-block">
    <%= link_to 'Edit', edit_sauce_path(sauce), class: "btn btn-warning" %>
    <%= link_to 'Delete', sauce_path(sauce), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
  </div>
</div>
